<tr>
  <td>
    <b>Operating System</b>
  </td>
  <td id="os-result">
    <%= @check.os %>
  </td>
</tr>
<tr>
  <td>
    <b>Browser Version</b>
  </td>
  <td id="browser-result">
    <%= @check.browser %>
  </td>
</tr>
<tr>
  <td>
    <b>User Agent String</b>
  </td>
  <td id ="uas-result">
    <%= @check.uas %>
  </td>
</tr>
<tr>
  <td>
    <b>Compatibility View</b>
  </td>
  <td id ="comp-result">
    <%= @check.comp %>
  </td>
</tr>
<tr>
  <td>
    <b>Screen Resolution</b>
  </td>
  <td id ="resolution-result">
    <%= @check.resolution %>
  </td>
</tr>
<tr>
  <td>
    <b>Zoom Level</b>
  </td>
  <td id ="zoom-result">
    <%= @check.zoom %>
  </td>
</tr>
<tr>
  <td>
    <b>Cookies</b>
  </td>
  <td id ="cookies-result">
    <%= @check.cookies %>
  </td>
</tr>
<tr>
  <td>
    <b>Pop-up Blocker</b>
  </td>
  <td id ="popup-result">
    <%= @check.popups %>
  </td>
</tr>