<%= semantic_form_for(@check) do |f| %>
  <% if @check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% @check.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= render 'full' %>



  

  <%= f.hidden_field :os, value: 'Unavailable'%>
  <%= f.hidden_field :browser, value: 'Unavailable'%>
  <%= f.hidden_field :uas, value: 'Unavailable'%>
  <%= f.hidden_field :resolution, value: 'Unavailable'%>
  <%= f.hidden_field :cookies, value: 'Unavailable'%>
  <%= f.hidden_field :popups, value: 'Unavailable'%>
  <%= f.hidden_field :flash, value: 'Unavailable'%>
  <%= f.hidden_field :java, value: 'Unavailable'%>
  <%= f.hidden_field :reader, value: 'Unavailable'%>
  <%= f.hidden_field :zoom, value: 'Unavailable'%>
  <%= f.hidden_field :comp, value: 'Unavailable'%>
  
  
  <div class="actions">
    <%= f.submit("Save", class: "btn btn-large btn-primary") %>
  </div>
  
<% end %>